# Yarn configuration file
# https://classic.yarnpkg.com/en/docs/yarnrc/

# Set the node-linker to node-modules to use the traditional node_modules approach
node-linker "node-modules"

# Enable strict SSL certificate validation
strict-ssl true

# Set the registry for npm packages
registry "https://registry.yarnpkg.com"

# Enable production mode
production false
